.app-component {
  padding: 4% 4% 0 4%;
  z-index: 1;
}

main {
  height: 100%;
}

#rescale_screen {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.main_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--background);
}

.inner_main_container {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
  float: left;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.rescale_overlay {
  width: 180px;
  height: 50px;
  background-color: var(--surface);
  position: fixed;
  left: 50px !important;
  top: 8px !important;
  z-index: 2;
  display: none;
  transition: all 0.2s ease-in-out;

  > button:focus {
    box-shadow: inset 0 0 0 1px var(--on-surface);
  }
}

.rescale_overlay > button {
  margin-top: 5px;
}

.rescale_overlay mat-icon {
  color: var(--on-surface);
}

.rescale_overlay > button:first-child {
  margin-left: 10px;
}
